<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Dodwanie produktu
      </mat-panel-title>
      <mat-panel-description>
        Fomularz do dodawnia produktów do sklepu
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-add-product-form>

    </app-add-product-form>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Usuwanie produktów
      </mat-panel-title>
      <mat-panel-description>
        Możliwość usuwania produktów ze sklepu
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-delete-product-form>

    </app-delete-product-form>
  </mat-expansion-panel>
</mat-accordion>
